
h3 {
  font-size: 22px;
  margin-bottom: 15px;
  font-weight: 600;
  color: black;
  font-family: "Segoe UI", sans-serif;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  font-family: "Segoe UI", sans-serif;
}
thead {
  background: #f2f5fa;
}

thead th {
  padding: 14px;
  text-align: left;
  font-size: 14px;
  font-weight: 600;
  color: black;
  cursor: pointer;
  user-select: none;
  position: relative;
}
thead th span {
  margin-left: 5px;
  color: blue;
  font-weight: bold;
}

tbody td {
  padding: 12px 14px;
  border-bottom: 1px solid #e9edf3;
  font-size: 14px;
  color: #333;
}

/* Hover row effect */
tbody tr:hover {
  background: #f8fbff;
}


/* Action Buttons */
td button {
  padding: 6px 12px;
  border: none;
  border-radius: 6px;
  font-size: 13px;
  cursor: pointer;
  margin-right: 8px;
  transition: background 0.2s, transform 0.15s;
}

td button:first-child {
  background: darkgreen;
  color: white;
}

td button:last-child {
  background: darkred;
  color: white;
}
tbody tr td[colspan] {
  text-align: center;
  padding: 20px;
  font-style: italic;
  color: #777;
}

p {
  margin-top: 12px;
  color: black;
  font-size: 30 px;
}
